// Fordson styles
@import "styles";

/*Course collapsed style for topcoll plugin*/

.course-content ul.ctopics li.section .content .toggle span.the_toggle h3.sectionname, .course-content ul.ctopics li.section .content.sectionhidden h3.sectionname{
    text-align: left !important;
    font-size: 1.3rem;
    color: $brand-primary;
    padding-left: 30px;
    position: relative;
}
.course-content ul.ctopics li.section .content .toggle span, .course-content ul.ctopics li.section .content.sectionhidden .toggle span{
    &:hover{
        background-color: #f7f7f9;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
        box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    }
}
/* Bulb icon set. */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-arrow span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-arrow h4 span.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="arrow"],
body#page-course-edit select#id_toggleiconset option[value="arrow"],
.course-content ul.ctopics li.section .content .toggle-arrow span.toggle_closed, .course-content ul.ctopics li.section .content .toggle-arrow span.toggle_open, body.jsenabled .course-content ul.ctopics li.section .content .toggle-arrow span.toggle_open, #toggle-all .content .toggle-arrow h4 span.off,
#toggle-all .content .toggle-arrow-hover h4 span.on:hover, #toggle-all .content .toggle-arrow-hover h4 span.off:hover {
    background-image: none;
    position: relative;
}
body.jsenabled .course-content ul.ctopics li.section .content .toggle-arrow span.toggle_closed h3.sectionname, /* JavaScript enabled */
#toggle-all .content .toggle-arrow h4 span.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="arrow"],
body#page-course-edit select#id_toggleiconset option[value="arrow"],.course-content ul.ctopics li.section .content .toggle-arrow span.toggle_closed h3.sectionname, .course-content ul.ctopics li.section .content .toggle-arrow span.toggle_open h3.sectionname, body.jsenabled .course-content ul.ctopics li.section .content .toggle-arrow span.toggle_open h3.sectionname, #toggle-all .content .toggle-arrow h4 span.off{
    &:before{
        color: $brand-primary;
        display: block;
        float: left;
        font-family: FontAwesome;
        margin-right: 1rem;
        text-align: center;
        border-radius: 2px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: $sectioniconclose;
    }
}
.course-content ul.ctopics li.section .content .toggle-arrow span.toggle_closed  h3.sectionname, .course-content ul.ctopics li.section .content .toggle-arrow span.toggle_open h3.sectionname, body.jsenabled .course-content ul.ctopics li.section .content .toggle-arrow span.toggle_open h3.sectionname, #toggle-all .content .toggle-arrow h4 span.off{
    &:before{
        content: $sectionicon;
    }  
}
/**/
body.jsenabled #toggle-all, body.jsenabled #topcoll-display-instructions{
    display: none;
}
.course-content ul.ctopics li.section.main .side, .course-content ul.ctopics li.section .side{
    //display: none;
}
.course-content ul.ctopics li.section.main .content, .course-content ul.ctopics li.section .content{
    //margin: 0 !important;
    border-bottom: 1px solid #f4f4f4 !important;
}
.course-content ul li.section.main:last-child .content{
    border-bottom: none !important;
}
.course-content ul li.section.main{
    border-bottom: none;
}
.course-content ul li.section.main .cps_centre{
    display: none !important;
}
.course-content ul.ctopics li.section .content .toggle, .course-content ul.ctopics li.section .content.sectionhidden {
    &, &:hover{
        background-color: transparent !important;
    }
    
}
.course-content ul.ctopics li.section.main, .course-content ul.ctopics li.tcsection,
.course-content ul.ctopics li.section .content .toggle span.the_toggle, #toggle-all .content h4 span{
    margin: 0;
}
.course-content ul.ctopics li.section .content .toggle span.the_toggle.tc-medium{
    padding: .7rem;
}