// Fordson styles
@import "styles";

/*Some change for our theme 'fordson'*/
/*in this file we did some change for theme "fordson" for our site*/

/*login page*/
#page-login-index input#username {
    margin-bottom: 5px;
}
/**/
a.navbar-brand .site-name.hidden-sm-down,
#page-mod-quiz-review .site-name, 
header[role="banner"] .site-name{
    display: none;
}
.navbar-brand.hidden-sm-down  {
    display: none;
}
.headerbkg{
    display: none;
}
#page-login-index #region-main-box .card{
    border: 5px solid #1e9dd8;
}
#page-course-view-topcoll, #page-course-view-topics{
    & .course-content ul.topics li.section {
        margin-bottom: 0;
    }
} 
#page-course-view-topics .course-content ul.topics li.section{
    padding: .7rem;
} 
#page-course-view-topics .course-content ul.topics li.section:target{
    padding-top: .7rem !important; 
    margin-top: 0 !important;
} 
#page-course-view-topcoll, #page-course-view-topics{
    & .course-content ul.topics li.section .sectionname{
        margin: .4rem 0; 
        font-size: 1.3rem;
    }
} 
#page-course-view-topcoll, #page-course-view-topics{
    & .course-content ul.section{
        margin: 0;
    }
}  
#page-course-view-topcoll,
#page-course-view-topics{
    & li.section:not([aria-label="General"]) img.activityicon[role="presentation"]{ 
        width: 16px; 
        height: 16px;
    }
} 
#page-course-view-topcoll, #page-course-view-topics{
    & .activityinstance > a{
        line-height: 30px;
    }
} 
/**/
/*change for quize*/
.que.multichoice .answer div.r0, .que.multichoice .answer div.r1{
    & .icon{
        text-indent: 0;
    }
}
/*styles for profile settings content*/
#page-user-profile #page-content #region-main{
    position: relative;
}
#page-user-profile .profile_tree section:first-of-type{
    position: static;
}
#page-user-profile .userprofile .editprofile{
    position: absolute;
    top: -5px;
    left: 1.25rem;
}
#page-user-profile .userprofile .editprofile a{
    font-weight: 700;
}
@media screen and (max-width: 576px){
    #page-user-profile .userprofile .editprofile{
        top: -10px;
        left: .5rem;  
    }
}